@media (max-width: 830px) {
  .btn1 {
    bottom: 55.4%;
    left: 25%;
  }

  .btn2 {
    bottom: 55%;
    left: 73%;
  }
  .btn3 {
    bottom: 1.5%;
    left: 25%;
  }
  .btn4 {
    bottom: 1%;
    left: 70%;
  }
  .about-reward {
    width: 35rem;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .reward {
    width: 35rem;
    margin: 0 auto;
  }
  .rewards-movement {
    width: 35rem;
  }
}

@media (max-width: 600px) {
  .hero-section {
    height: 45vh;
  }

  .hero-content-cell {
    width: 100%;
    top: 55%;
  }
  .about-head {
    font-size: 0.9rem;
  }
  .geolocation-btn {
    font-size: 1.1rem;
  }
  .login-btn,
  .register-btn {
    padding: 6px 36px;
  }
  .hero-btn {
    margin: 0 20%;
  }
  .orders-in {
    gap: 30px;
  }
  .inside-order {
    gap: 30px;
  }
  .big-img {
    height: auto;
  }
  .about-reward {
    width: 26rem;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .reward {
    width: 26rem;
    margin: 0 auto;
  }
  .rewards-movement {
    width: 26rem;
  }
  .btn1,
  .btn2,
  .btn3,
  .btn4 {
    font-size: 16px;
  }
  .btn1 {
    bottom: 57.4%;
    left: 28%;
  }

  .btn2 {
    bottom: 57%;
    left: 78%;
  }
  .btn3 {
    bottom: 3.5%;
  }
  .btn4 {
    bottom: 2.7%;
    left: 75%;
  }
  .img-name {
    font-size: 0.8rem;
  }
}

@media (max-width: 400px) {
  .about-reward {
    width: 20rem;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .reward {
    width: 20rem;
    margin: 0 auto;
  }
  .rewards-movement {
    width: 20rem;
  }
}
