* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}
/* COMBINED APPLICATION STYLES */
:root {
  --main-color: #000;
  --semi-main-color: #3f3f3f;
  --white-color: #ffffff;
  --red-color: #ff0000;
  --primary-color: #008d5e;
}
.head-of-application,
.app-links-cell,
.application-link,
.app-logo,
.hero-content-cell {
  display: flex;
}
.head-of-application,
.application-link {
  align-items: center;
  align-items: center;
}

/* APPLICATION NAVIGATION STYLES */

.application-link {
  gap: 10px;
}
.head-of-application,
.app-links-cell {
  justify-content: space-around;
}
.app-links-cell {
  gap: 20px;
}
.head-of-application {
  padding: 8px;
  background-color: var(--primary-color);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
}
.link-icon {
  width: 1.5rem;
  height: 1.5rem;
}
.link {
  display: inline-block;
  text-decoration: none;
  border: none;
  font-size: 1rem;
  color: var(--semi-main-color);
}
.app-logo {
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.logo {
  width: 2.8rem;
  height: 2.8rem;
  border: 2px solid var(--main-color);
  border-radius: 50%;
  padding: 12px;
}
.logo-discription {
  font-size: 1.1rem;
}
.btn-content {
  font-size: 0.8rem;
  text-transform: uppercase;
}
/*APPLICATION HERO SECTION STYLES */
.btn {
  display: inline-block;
  cursor: pointer;
  border: none;
}
.hero-section {
  margin-top: 100px;
  position: relative;
  height: 70vh;
  background-image: url(bigBrakeFAST/breakFastCombo/combo9.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.hero-content-cell {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-direction: column;
  gap: 2rem;
}
.hero-btn {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 1.4rem;
  padding: 6px 12px;
  color: var(--white-color);
  background-color: var(--red-color);
  border-radius: 11px;
  font-weight: 600;
}
.hero-discription {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
  color: var(--white-color);
}
.description-name {
  font-size: 5rem;
}
/*SECTION ABOUT US STYLES */
.about-us {
  width: 100%;
  margin: 0 auto;
  margin-top: 20px;
  padding: 0 50px;
}
.about-head {
  text-align: center;
}
.register-cell {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.about-semi-head {
  font-size: 1.2rem;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.about-semi-description {
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.9;
}
.login-btn,
.register-btn,
.geolocation-btn {
  font-size: 1.5rem;
  padding: 6px;
  background-color: var(--primary-color);
  color: var(--white-color);
  border-radius: 11px;
}
.login-btn,
.register-btn {
  padding: 6px 45px;
}
.geolocation-btn {
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  gap: 20px;
  text-transform: capitalize;
}
.control-btn-cell {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 20px;
}
.control-btn-icons {
  width: 3rem;
  height: 3rem;
  color: var(--primary-color);
  background-color: var(--white-color);
}
/* APP MAIN CONTROL  BUTTONS CELL */
.main-control-btns {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px;
  background-color: var(--white-color);
  box-shadow: 0 5px 5px 10px #00000010;
  z-index: 100;
}
/* ORDERS OF THE APPLICATION  */
.orders-in {
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 200px;
  margin: 0 auto;
  gap: 50px;
  /* margin-bottom: 100px; */
}
.big-img {
  width: 100%;
  height: auto;
  border-radius: 18px;
  cursor: pointer;
}
.inside-order {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  gap: 50px;
}
.hidden {
  display: none;
}
