* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}
/* COMBINED APPLICATION STYLES */
:root {
  --main-color: #000;
  --semi-main-color: #3f3f3f;
  --white-color: #ffffff;
  --red-color: #ff0000;
  --primary-color: #008d5e;
  --vavy-blue: #080075;
}
/* .head-of-application, */
/* .app-links-cell, */
/* .application-link,  */
/* .app-logo, */
.hero-content-cell {
  display: flex;
}

/* APPLICATION NAVIGATION STYLES */

.app-links-cell {
  gap: 20px;
}
.head-of-application {
  padding: 8px;
  background-color: var(--primary-color);
  position: fixed;
  width: 100%;
  height: 100px;
  top: 0;
  z-index: 100;
  flex-direction: column;
  /* position: relative; */
}
.link-icon {
  width: 1.5rem;
  height: 1.5rem;
}
.link {
  display: inline-block;
  text-decoration: none;
  border: none;
  font-size: 1rem;
  color: var(--semi-main-color);
}
.app-logo {
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}
.logo {
  width: 2.8rem;
  height: 2.8rem;
  border: 2px solid var(--main-color);
  border-radius: 50%;
  padding: 12px;
}
.logo-discription {
  font-size: 1.1rem;
}
.btn-content {
  font-size: 0.8rem;
  text-transform: uppercase;
}
.show-form-cell {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  margin: 30px 10px;
}
.application-nav {
  width: 18rem;
  position: absolute;
  top: 0%;
  left: 0%;
  background-color: var(--white-color);
  transition: transform 1s;
  padding-left: 40px;
}
.hidden2 {
  transform: translateX(-18rem);
}
.application-link {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}

.form-icon {
  width: 40px;
  height: 40px;
}
.show-form {
  display: inline-block;
  background-color: var(--primary-color);
  border: none;
  cursor: pointer;
}
.close-form {
  display: inline-block;
  border: none;
  cursor: pointer;
  background-color: var(--white-color);
  margin: 20px;
  margin-left: -30px;
}
/*APPLICATION HERO SECTION STYLES */
.btn {
  display: inline-block;
  cursor: pointer;
  border: none;
}
.hero-section {
  margin-top: 100px;
  position: relative;
  height: 70vh;
  background-image: url(bigBrakeFAST/breakFastCombo/combo9.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.hero-content-cell {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-direction: column;
  gap: 2rem;
}
.hero-btn {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 1.4rem;
  padding: 6px 12px;
  color: var(--white-color);
  background-color: var(--red-color);
  border-radius: 11px;
  font-weight: 600;
}
.hero-discription {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
  color: var(--white-color);
}
.description-name {
  font-size: 5rem;
}
/*SECTION ABOUT US STYLES */
.about-us {
  width: 100%;
  margin: 0 auto;
  margin-top: 20px;
  padding: 0 50px;
  margin-bottom: 100px;
}
.about-head {
  text-align: center;
}
.register-cell {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.about-semi-head {
  font-size: 1.2rem;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.about-semi-description {
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.9;
}
.login-btn,
.register-btn,
.geolocation-btn {
  font-size: 1.5rem;
  padding: 6px;
  background-color: var(--primary-color);
  color: var(--white-color);
  border-radius: 11px;
}
.login-btn,
.register-btn {
  padding: 6px 45px;
}
.geolocation-btn {
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  gap: 20px;
  text-transform: capitalize;
}
.control-btn-cell {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 20px;
}
.control-btn-icons {
  width: 3rem;
  height: 3rem;
  color: var(--primary-color);
  background-color: var(--white-color);
}
/* APP MAIN CONTROL  BUTTONS CELL */
.main-control-btns {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px;
  background-color: var(--white-color);
  box-shadow: 0 5px 5px 10px #00000010;
  z-index: 100;
}
/* ORDERS OF THE APPLICATION  */
.orders-in,
.big-on-breakfasts,
.generous-big-meal,
.pefected-drinks,
.dedicant-deserts {
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 200px;
  margin: 110px auto;
  gap: 20px;
}

.big-img-cell,
.big-on-breakfast {
  margin-bottom: 10px;
}

.price {
  font-size: 1.1rem;
  color: var(--vavy-blue);
  margin-top: 5px;
  margin-left: 3px;
  margin-bottom: 3px;
}
.img-name {
  font-size: 1.2rem;
  margin-left: 3px;
  text-transform: uppercase;
}
.order {
  font-size: 1.1rem;
  text-transform: uppercase;
  padding: 5px 10px;
  margin-left: 3px;

  border: none;
  border-radius: 11px;
}
.big-img {
  width: 100%;
  height: auto;
  border-radius: 18px;
  cursor: pointer;
}
.inside-order {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  gap: 50px;
}
.hidden {
  display: none;
}

/* REWARDS */
.rewards {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 110px auto;
}
.reward-section {
  display: none;
}
.about-reward {
  width: 33rem;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 11px;
  background-image: linear-gradient(to right, #eeee00, #ffc400);
}
.reward-head {
  font-size: 1.8rem;
  display: flex;
  flex-direction: column;
}
.reward-head-m {
  font-size: 2.5rem;
  font-weight: 600;
  letter-spacing: 1.2px;
}
.reward-dis {
  font-size: 1.2rem;
}

.reward {
  width: 33rem;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 11px;
  background-color: #0c0022;
  color: var(--white-color);
  display: flex;
  align-items: center;
  gap: 20px;
}
.point {
  font-size: 1.8rem;
  margin-bottom: 10px;
}
.amount {
  margin-bottom: 10px;
  font-size: 1.4rem;
}
.range {
  width: 300px;
  background-color: var(--white-color);
  border-radius: 11px;
  padding: 2px;
  font-size: 1rem;
}

.rewards-movement {
  width: 33rem;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 11px;
  background-color: #f3f3f3;
  margin-top: 30px;
}
.movements-cell {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}
.movement-cell {
  background-color: var(--white-color);
  padding: 10px;
  border-radius: 11px;
}
.move-name {
  font-size: 1.4rem;
  margin-bottom: 10px;
}
.move-dis {
  font-size: 1.2rem;
}
/* APPLICATION footer */
/* .footer-links-cell {
  width: 90%;
  margin: 0 auto;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 5px 20px;
  list-style: none;
}
.footer-links {
  border-bottom: 1px solid #3333332a;
  padding: 10px 0;
}
.footer-link {
  display: inline-block;
  text-decoration: none;
  border: none;
  color: var(--main-color);
  font-family: sans-serif;
  font-weight: 600;
} */
/* register section */
.resgister,
.login {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
  margin: 0 auto;
  padding: 15px;
  gap: 10px;
  margin-bottom: 100px;
  display: none;
}
.resgister {
  display: none;
}
.regsiter-input,
.login-input {
  border: none;
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #00000042;
  padding: 5px;
  font-size: 0.8rem;
}
.regsiter-input:focus {
  outline: none;
}
.login-input:focus {
  outline: none;
}
.comfirm-cell {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.comfirm-btn,
.login-old-acc {
  font-size: 1.3rem;
  padding: 4px 16px;
  border-radius: 11px;
  background-color: var(--primary-color);
  color: var(--main-color);
  text-transform: uppercase;
}
.old-acount {
  font-size: 1.2rem;
}
.comfirm-text {
  font-size: 0.8rem;
}
.terms-conditions,
.sign-in,
.login-in-new {
  font-size: 1rem;
  text-transform: uppercase;
  color: #080075;
}
.sign-in,
.login-in-new {
  font-size: 1.2rem;
  font-weight: 500;
}
.login {
  margin-top: 100px;
}
